.accommodations-popular-container {
  display: flex;
  justify-content: space-between;
}

.accommodations-popular-section {
  padding: 30px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
}

.accommodations-popular__title {
  font-size: var(--fs-title-accommodations);
}

/****** Generic classes for Accommodations and Popular ******/
.card {
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card__img {
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__txt {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card__title {
  font-size: var(--fs-title-card);
}

.card__subtitle {
  font-size: var(--fs-subtitle-card);
}

.euro {
  font-weight: 700;
}

.card__rating-neutral-star {
  color: var(--main-bg-color);
}

/****** Accommodations ******/
.accommodations {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accommodations-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.accommodation-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accommodation-card__img {
  width: 100%;
  height: 124px;
  min-height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accommodation-card__content {
  height: 100%;
  justify-content: space-between;
  gap: 8px;
  padding: 0 10px 5px 10px;
}

.display-more {
  align-self: flex-start;
  font-size: 18px;
  font-weight: 700;
}

/****** Popular ******/
.popular {
  width: 32%;
}

.popular-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-cards-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.popular-card {
  display: flex;
  gap: 15px;
}

.popular-card__img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular-card__content {
  justify-content: space-between;
  padding: 5px 0;
}

@media all and (max-width: 1024px) {
  :root {
    --fs-title-card: 14px;
    --fs-subtitle-card: 13px;
  }

  .accommodations-popular-container {
    flex-direction: column;
    gap: 50px;
  }

  /****** Accommodations ******/
  .accommodations {
    width: 100%;
  }

  /****** Popular ******/
  .popular {
    width: 100%;
  }

  .popular-cards-container {
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
  }

  .popular-cards-container a {
    width: 100%;
  }

  .popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media all and (max-width: 768px) {
  .accommodations-popular-container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .accommodations-popular-section {
    padding: 30px 20px;
    background-color: var(--main-bg-color);
    border-radius: 0;
  }

  /****** Accommodations ******/
  .accommodations {
    gap: 15px;
    background-color: #ffffff;
  }

  .accommodations-cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
  }

  .accommodation-link-card--amina {
    grid-area: 6 / 1 / 7 / 2;
  }

  .accommodation-link-card--canebiere {
    grid-area: 2 / 1 / 3 / 2;
  }

  /****** Popular ******/
  .popular-cards-container {
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }
}
