.header {
  display: flex;
  justify-content: space-between;
}

/****** Logo ******/
.logo {
  padding: 30px 0;
}

.logo__img {
  height: 19px;
  width: 61px;
}

/****** Nav ******/
.menu__list {
  display: flex;
  gap: 68px;
}

.menu__list__item {
  position: relative;
  list-style: none;
}

.menu__list__link {
  display: inline-block;
  padding-top: 16px;
}

.menu__list__link:focus {
  color: var(--main-color);
}

.menu__list__link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
  background: var(--main-color);
}

.menu__list__link:hover::before,
.menu__list__link:focus::before {
  width: 100%;
}

@media all and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  /****** Logo ******/
  .logo {
    margin: auto;
  }

  /****** Nav ******/
  .menu__list {
    gap: 0;
  }

  .menu__list__item {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .menu__list__link {
    width: 100%;
    padding: 0 0 16px 0;
    text-align: center;
  }

  .menu__list__link::before {
    top: 100%;
    width: 100%;
    background: var(--bc-light-grey);
  }

  .menu__list__link:focus::before {
    background: var(--main-color);
  }
}
