/****** Reset CSS ******/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****** General  ******/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --border-dark-grey: #d9d9d9;
  --fs-search-bar: 18px;
  --fs-title-accommodations: 22px;
  --fs-title-card: 16px;
  --fs-subtitle-card: 14px;
  --fs-title-activities: 22px;
  --fs-title-activities-card: 16px;
  --fs-title-footer: 18px;
  --fw-search-bar: bold;
}

* {
  font-family: 'Raleway', sans-serif;
}

body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 50px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-solid {
  color: var(--main-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}
